* {

    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*Navbar*/

#navbar {
    padding: 10px;

    display: flex;
    gap: 45px;
    border-bottom: solid black 1px;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#one__title {
    color: #953ed5;

}

#nav__2 {

    display: flex;
    gap: 20px;
    border: solid black 3px;
    align-items: center;
    width: 200px border-radius:20px;
    padding: 10px;
    width: 60%;
    border-radius: 30px;

}

#nav__2 input {
    font-size: 16px;
    border: none;
    width: 100%;
    background-color: transparent;
}

#nav__2 input:focus {
    outline: none;
}

#nav__3 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 16px;
}
#nav__4{
  display:none;
  margin-right:0;
}

.my__learning{
    position:relative;
    cursor: pointer;
   
}

.my__learning__pop{
 background-color: white;
 border: solid black 1px;
 z-index: 2;
 padding: 5px;
 width:100px;
 position: absolute;
 top:30px;
 right: 0; 
 display: none;
}

#my__learning{
    position:relative;
    cursor: pointer;
   
}

#my__learning__pop{
 background-color: white;
 border: solid black 1px;
 z-index: 2;
 padding: 5px;
 width:100px;
 position: absolute;
 top:30px;
 right: 0; 
 display: none;
}

#my__learning:hover #my__learning__pop {
  display: block;
}



/*Categories*/

#categories {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
    color: white;
    align-items: center;


}

#categories p {
    background-color: #953ed5;
    border: solid #953ed5 1px;
    color: white;
    padding: 10px;
    border-radius: 50px;
}
#categories p:hover{
    background:transparent;
     border: solid #953ed5 1px;
     color:black;
     cursor:pointer;
}

#sale{
    position: relative;
}
/*Sale Image*/
#sale img {
    width: 100%
}
#sale__offer{
    width:fit-content;
    height:100px;
    padding: 10px;
    margin-left:5px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    position: absolute;
    bottom:50px;
    animation-name:saleimg;
    
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes saleimg{
    0%{
        transform: scale(0);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
#sale__offer:hover{
    cursor: pointer;
    background-color:beige;
}

#rec {

    padding: 20px;
    margin: 20px;


}

#con_container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.container {

    margin: 10px;
    width: 300px;
    height: 300px;
    flex-grow: 1;
    flex-basis:20%;
    margin:5px;

}

.container img {
    border-radius: 20px;
    ;
    height: 60%;
    width: 100%
}

/*Topic*/
#topic {
    padding: 20px;
    margin: 20px;

}

#topic__container {
    display: flex;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;

}

#topic__container p {
    border: solid gray 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    box-sizing: border-box;


}

#popular {
    padding: 20px;
    margin: 20px;

}

#popular__container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;

}

/*Footer*/
#footer {
    padding: 20px;
    background-color: black;
    color: White;

}

#footer__one {
    display: flex;
    gap: 10px;


}

#footer__two {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#footer__one p {
    margin: 10px;
}
/* media queries */
@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
    #sale__offer{
        top:50px;

    }
 .container{
    flex-basis:40%;
 }
 #categories{
    display:none;
 }
 #nav__3{
    display:none;
 }
 #nav__4{
    display:block;

 }
}
